@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Inter:wght@300&display=swap');


#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
}

#hero-msg {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color: #00B4D8;
  color: #ac0dac3f;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

header {
  background-color: #0077B6;
  color: aqua;
}

nav a:hover {
  background-color: rgba(221, 85, 85, 0.26);
  color: black;
}

nav a {
  text-align: center;
  color: black;
  text-decoration: underline;
  padding-top: 35px;
}

.book,.join {
  background-color: #ababab52;
  color: black;
  text-decoration: solid;
  font-family: 'inter', sans-serif;
  font-size: 18px;
  padding: 15px 30px;
}

.book:hover,
.join:hover {
  background-color: hsla(231, 59%, 60%, 0.349);
  color: darkorange;
}

#background {
  background-color: #14d40dad;
  color: black;
}

.msg p {
  background-color: #00B4D8;
  color: black;
  font-family: 'inter', sans-serif;
  font-size: 2em;
  background-color: #6341df;
  line-height: 1.5em;
  padding-bottom: 15px;

}

.msg {
  padding: 35px;
}

footer {
  background-color: #c30dd438;
  color: darkorange;
  padding: 25px 50px;
}

footer a {
  text-align: justify;
  color: darkorange;
  text-decoration: double;
}

footer .social img {
  padding-top: 15px;
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-img {
  width: 1000px;
}

footer h3 a:hover {
  width: 80px;
  color: aqua;
  text-size-adjust: 14px;
  text-decoration: solid;
}

.home-title {
  font-family: 'inter', sans-serif;
  font-size: 2em;
}

#logo_link{
  padding-top: 5px;
}

